@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .contact-us-cover {
    background-image: url("/contact-us-cover.webp");
    background-position: center center;
    background-repeat: no-repeat;
  }

  .home-page-cover {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url("/home-page-cover.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
